{#{% extends 'base.html.twig' %}#}

{#{% block title %}Enregistrer son véhicule{% endblock %}#}

{#{% block body %}#}
{#<main>#}
{#    <div>#}

{#        <h1 class="title">Inscrire son véhicule</h1>#}

{#        {{ form_start(carForm) }}#}
{#        {{ form_row(carForm.brand) }}#}
{#        {{ form_row(carForm.model) }}#}
{#        {{ form_row(carForm.outletType) }}#}
{#        <div class="select-list" >#}
{#            {{ form_errors(carForm.outletType) }}#}
{#            <input type="radio" name="{{ field_name(carForm.outletType) }}">#}
{#            <span class="placeholder">{{ field_label(carForm.outletType) }}</span>#}

{#            {% for label, value in field_choices(carForm.outletType) %}#}

{#                <label class="option">#}
{#                    <input class='reset-radio' type="radio" name="{{ field_name(carForm.outletType) }}" value='{{ value }}'>#}
{#                    <span class="list-title">{{ label }}</span>#}
{#                </label>#}
{#            {% endfor %}#}
{#        </div>#}

{#        <button class="button" type="submit" >Enregistrer</button>#}
{#        {{ form_end(carForm) }}#}

{#    </div>#}
{#</main>#}
{#{% endblock %}#}
