{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main>

        <div >

        <h1 class="titleUnderLogo">S'inscrire</h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(registrationForm) }}

            {{ form_errors(registrationForm) }}

{#                {{ form_row(registrationForm.gender ) }}#}
                <div class="select-list" >
                    <input type="radio" name="{{ field_name(registrationForm.gender) }}">
                    <span class="placeholder">{{ field_label(registrationForm.gender) }}</span>

                    {% for label, value in field_choices(registrationForm.gender) %}

                        <label class="option">
                            <input class='reset-radio' type="radio" name="{{ field_name(registrationForm.gender) }}" value='{{ value }}'>
                            <span class="list-title">{{ label }}</span>
                        </label>
                    {% endfor %}
                </div>

                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}

                {{ form_row(registrationForm.town) }}

{#                {{ form_row(townForm.zipCode) }}#}
{#                    {{ form_row(townForm.name) }}#}

                {{ form_row(registrationForm.birthday) }}
                {{ form_row(registrationForm.agreeTerms) }}



                <button class="button" type="submit" >S'enregistrer</button>

            {{ form_end(registrationForm) }}

        </div>

    </main>
{% endblock %}
