{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="main-vertical">

        <h1 class="titleUnderLogo">S'inscrire</h1>

        {{ form_start(registrationForm) }}

        {{ form_errors(registrationForm) }}


        <div class="select-list" >
            {{ form_errors(registrationForm.gender) }}
            <input type="radio" name="{{ field_name(registrationForm.gender) }}">
            <span class="placeholder">{{ field_label(registrationForm.gender) }}</span>

            {% for label, value in field_choices(registrationForm.gender) %}

                <label class="option">
                    <input class='reset-radio' type="radio" name="{{ field_name(registrationForm.gender) }}" value='{{ value }}'>
                    <span class="list-title">{{ label }}</span>
                </label>
            {% endfor %}
        </div>


        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <div class="inputTown">
            {{ form_row(registrationForm.town) }}
        </div>

        {{ form_row(registrationForm.birthday) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <a href="{{ path('app_rgpd') }}">Consulter notre Politique de confidentialité</a>

        <button class="button" type="submit" >S'enregistrer</button>

        {{ form_end(registrationForm) }}

    </main>
{% endblock %}
