{% extends 'base.html.twig' %}

{% block title %}Geocode - Carte{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
{% endblock %}

{% block body %}
    <main class="map">
        <div id="map" {{ stimulus_controller('map_search') }}
             data-longitude = '{{ town.point.longitude }}'
             data-latitude = '{{ town.point.latitude }}'></div>
    </main>
    <div class="map-modal">
{#        {{ dump(town) }}#}
    </div>
{% endblock %}


