{% extends 'base.html.twig' %}

{% block title %}Hello TownController!{% endblock %}

{% block body %}
    <main>
        <div>
            {% if departure is defined %}
                {{ dump(departure) }}
            {% endif %}
        </div>
        <div>
        {% if gradignan is defined %}
            {{ dump(gradignan) }}
        {% endif %}
        {% if townfile is defined %}
        <h1>{{ townfile }}</h1>
        {% endif %}
        {% if town is defined %}
            {{ dump(town) }}
        {% endif %}
        {% if point is defined %}
            {{ dump(point) }}
        {% endif %}
        </div>
        <div>
        <h2>Villes voisines</h2>
        {% if towns is defined %}
        <ul>
            {% for neighbor in towns %}
                {{ dump(neighbor) }}
            {% endfor %}
        </ul>
        {% endif %}
        </div>
        <div>
            <ul>
                {% if terminals is defined %}
                    {% for terminal in terminals %}
                        <li>{{ dump(terminal) }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

    </main>
{% endblock %}
