{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }} Profile {% endblock %}

{% block body %}
{#<style>#}
{#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
{#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
{#</style>#}

<div class="example-wrapper">
    <h1 class="title">Mes informations</h1>

    <div class="firstInfo">
        <div class="pictureProfil">
            {% if app.user.picture %}
                <img class="pictures" src="{{ vich_uploader_asset(app.user) }}" alt="{{ app.user.firstname }} picture">
            {% else %}
                <img class="pictures" src="{{ asset('build/images/Default.pfp.png') }}" alt="Default Picture">
            {% endif %}

            <a href="{{ path('app_profile_user_picture', {'id': app.user.id}) }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" >
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
            </svg>
            </a>

        </div>
        <div class="">
            <p>{{ app.user.firstname }}</p>
            <p>{{ app.user.lastname }}</p>
            <p>{{ app.user.email }}</p>
            <p>Saint-Rémy-de-Provence</p>
            <p>Code postale</p>
        </div>
    </div>

{#    <div class="secondInfo">#}
{#        <p>{{ app.user.birthday.format('Y-m-d') }}</p>#}
{#        <p>{{ app.user.gender }}</p>#}
{#        <p>{{ app.user.email }}</p>#}
{#        <p>{{ app.town.name }}</p>#}
{#        <p>{{ app.town.postal_code }}</p>#}
{#        <p>Ville</p>#}
{#        <p>Code postale</p>#}
{#    </div>#}
  <div class="secondInfo">

      <div>
          <a class="svgText" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front-fill marg" viewBox="0 0 16 16">
                  <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
              </svg>
              Mon vehicule
          </a>
      </div>

      <div>
          <a href="#"> Mes trajets </a>
      </div>

      <div>
          <a href="#"> Mes réservations </a>
      </div>

      <br>

    <div>
    <a href="{{ path('app_profile_user_edit', {'id': app.user.id}) }}">Modifier mes informations personelles </a>
    </div>

    <div>
    <a href="{{ path('app_modify_password', {'id': app.user.id}) }}"> Modifier mon mot de passe </a>
    </div>
  </div>

</div>
{% endblock %}
