{% extends 'base.html.twig' %}

{% block title %}Picture{% endblock %}

{% block body %}
    <div >
        <h1 class="title">Modifier mon image</h1>

        {{ form_start(pictureForm) }}
        {{ form_errors(pictureForm) }}

        {% if app.user.picture %}
            <img class="pictures" src="{{ vich_uploader_asset(app.user) }}" alt="{{ app.user.firstname }} picture">
        {% else %}
            <img class="pictures" src="{{ asset('build/images/Default.pfp.png') }}" alt="Default Picture">
        {% endif %}

        {{ form_row(pictureForm.pictureFile, {'attr' : {'class' : 'divColumn'}}) }}


        <button class="button" type="submit">Modifier</button>
        {{ form_end(pictureForm) }}

        <a class="mt-3" href="{{ path('app_profile_user') }}">
            Retour sur mon profil
        </a>
    </div>
{% endblock %}
