{% extends 'base.html.twig' %}

{% block title %}Géocode - Trajet{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
{% endblock %}

{% block body %}
    <div class="main map"
         id="map"
        {{ stimulus_controller('route') }}
        data-departure-longitude = '{{ departure.point.longitude }}'
        data-departure-latitude = '{{ departure.point.latitude }}'
        data-arrival-longitude = '{{ arrival.point.longitude }}'
        data-arrival-latitude = '{{ arrival.point.latitude }}'
        data-step = {{ step }}
    ></div>
{% endblock %}
