{% extends 'base.html.twig' %}

{% block title %}Terminal index{% endblock %}

{% block body %}

        {% include 'components/_adminsidebar.html.twig' %}
        <main class="main-vertical">
            <h1>Terminal index</h1>
            <section>
            {% include 'components/_terminal_pagination.html.twig' %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Point</th>
                    <th>Address</th>
                    <th>OutletType</th>
                    <th>NumberOutlet</th>
                    <th>MaxPower</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for terminal in terminals %}
                    <tr>
                        <td>{{ terminal.id }}</td>
                        <td>{{ terminal.point }}</td>
                        <td>{{ terminal.address }}</td>
                        <td>{{ terminal.outletType }}</td>
                        <td>{{ terminal.numberOutlet }}</td>
                        <td>{{ terminal.maxPower }}</td>
                        <td>
                            <a href="{{ path('app_admin_terminal_show', {'id': terminal.id}) }}">show</a>
                            <a href="{{ path('app_admin_terminal_edit', {'id': terminal.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_admin_terminal_new') }}">Create new</a>
            </section>
        </main>

{% endblock %}
