{% extends 'base.html.twig' %}

{% block title %}Terminal{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let latitude = {{ terminal.point.y }};
        let longitude = {{ terminal.point.x }};
    </script>
{% endblock %}

{% block body %}
    {% include 'components/_adminsidebar.html.twig' %}
    <main class="main-vertical">

        <h1>Terminal</h1>
        <div class="two-parts" {{ stimulus_controller('objectmap') }}>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ terminal.id }}</td>
                    </tr>
                    <tr>
                        <th>Point</th>
                        <td>{{ terminal.point }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ terminal.address }}</td>
                    </tr>
                    <tr>
                        <th>OutletType</th>
                        <td>{{ terminal.outletType }}</td>
                    </tr>
                    <tr>
                        <th>NumberOutlet</th>
                        <td>{{ terminal.numberOutlet }}</td>
                    </tr>
                    <tr>
                        <th>MaxPower</th>
                        <td>{{ terminal.maxPower }}</td>
                    </tr>
                </tbody>
            </table>
            <div id="map"></div>
        </div>

        <a href="{{ path('app_admin_terminal_index') }}">back to list</a>

        <a href="{{ path('app_admin_terminal_edit', {'id': terminal.id}) }}">edit</a>

        {{ include('admin_terminal/_delete_form.html.twig') }}
    </main>

{% endblock %}
