{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <main>
        <div>
            <h1 class="title">Mes réservations</h1>
            {% if activeBookings is not empty %}
                    {% for booking in activeBookings %}
                        <div class="form">
                            <div class="reservationList ">
                                <p>Le : {{ booking.datetimeStart|date('d/m/Y ') }} </p>
                                <p>De : {{ booking.datetimeStart|date('H:i') }} à {{ booking.dateTimeEnd|date('H:i') }}</p>
                                <p>Adresse : {{ booking.terminal.address }}</p>
                            <form method="post" action="{{ path('app_booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre réservation ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
                                <button class="button">Supprimer</button>
                            </form>
                            </div>
                        </div>
                    {% endfor %}
            {% else %}
                <p>Aucune réservation active pour le moment.</p>
            {% endif %}
            <a class="svgText mt-3" href="{{ path('app_booking_history', {'id': app.user.id}) }}">
                Historique
            </a>
        </div>
    </main>
{% endblock %}
