{{ form_start(form) }}
{{ form_row(form.brand) }}
{{ form_row(form.model) }}

<details class="select-list" >
    {{ form_errors(form.outletType) }}
    <summary>
    <span class="placeholder">{{ field_label(form.outletType) }}</span>
    </summary>
    <p>
    {% for label, value in field_choices(form.outletType) %}
        <label>
            <input type="radio" name="{{ field_name(form.outletType) }}" value='{{ value }}'>
            <span>{{ label }}</span>
        </label>
    {% endfor %}
    </p>
</details>

<button class="button" type="submit" >Enregistrer</button>
{{ form_end(form) }}
