{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="main-aside">
        {% include 'components/_adminsidebar.html.twig' %}
        <main id='content' class="aside-main">



    <table class="table">
        <thead>
            <form>
                <tr>
                    <th>Id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Cars</th>
                </tr>
            </form>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {{ user.id }}
                {# {{ user.roles ? user.roles|json_encode : '' }} #}
                {{ user.firstname }}
                {{ user.lastname }}
                {{ user.birthday ? user.birthday|date('Y-m-d') : '' }}
                {{ user.gender }}
                {{  user.email }}
                {{ user.picture }}
                {# {{ user.resetToken }} #}
                 <a href="{{ path('app_profile_user_picture', {'id': app.user.id}) }}"></>
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('app_admin_user_new') }}">Create new</a>
        </main>
    </div>

{% endblock %}
