{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    {% include 'components/_adminsidebar.html.twig' %}
    <main>
        <div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Type de prise</th>
                <th>Utilisateur (id/Nom)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.outletType }}</td>
                <td>{{ car.user.Lastname }} - {{ car.user.Firstname }}</td>
                <td>
                    <a href="{{ path('app_admin_car_show', {'id': car.id}) }}">Vue</a>
                    <a href="{{ path('app_admin_car_edit', {'id': car.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_car_new') }}">Nouveau véhicule</a>
        </div>
    </main>
{% endblock %}
