<aside id='for-sidebar' id="sidebar" {{ stimulus_controller('sidebar') }}>
    <div class="for-button" {{ stimulus_target('sidebar', 'button') }}>
        <button class="open-sidebar"{{ stimulus_action('sidebar', 'toggle') }}>
        </button>
    </div>
    <div class="for-button for-close-button hidden" {{ stimulus_target('sidebar', 'button') }}>
        <button class="close-sidebar"{{ stimulus_action('sidebar', 'toggle') }}>

        </button>
    </div>
    <div class="sidebar sidebar-hidden" {{ stimulus_target('sidebar', 'sidebar') }}>
        <a href="#"><strong>Compte</strong></a>
        <a href="#"><strong>Messagerie</strong></a>
        <a href="#"><strong>Notifications</strong></a>
        <a href="#"><strong>Paramètres</strong></a>
        <a href="{{ path('app_admin_terminal_index') }}"><em>Liste des Bornes</em></a>
        <a href="#"><em>Liste des Véhicules</em></a>
        <a href="{{ path('app_admin_user_index') }}"><em>Liste des Utilisateurs</em></a>
        <a href="#"><em>Liste des actualités</em></a>

        <a href="#">Actualités</a>
        <a href="#">Créer une actualité</a>
        <a href="#">Statistiques</a>
        <a href="#">Accéder aux statistiques</a>
        <a href="#">Accéder aux rapports</a>
    </div>
 </aside>

